@media (max-width: 933px) {
  .nav {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .header {
    gap: 90px;
  }
  .header-img {
    width: 100%;
  }
  .header-img img {
    max-width: 70px;
  }
  .burger-menu {
    display: block;
  }
  .main {
    padding-block: 30px;
  }
}
@media (max-width: 845px) {
  .main {
    flex-direction: column-reverse;
  }
  .main img {
    width: 100%;
  }
  .main-content {
    align-items: center;
  }
  .main-content p {
    display: none;
  }
  .main-content ion-icon {
    display: none;
  }
  .main-contact {
    display: none;
  }
}
@media (max-width: 845px) {
  .next-adaptiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
