@media (max-width: 933px) {
  .container {
    padding-inline: 0;
  }
  .nav {
    display: none;
  }
  .header-btn {
    display: none;
  }

  .header-img {
    width: 100%;
  }
  .header-img img {
    max-width: 70px;
  }
  .burger-menu {
    display: block;
  }
  .main {
    padding-block: 30px;
  }
}
@media (max-width: 845px) {
  .main {
    flex-direction: column-reverse;
  }
  .main img {
    width: 100%;
  }
  .main-content {
    align-items: center;
  }
  .main-content p {
    display: none;
  }
  .main-content ion-icon {
    display: none;
  }
  .main-contact {
    display: none;
  }
  .main-btn button {
    width: 200px;
    height: 30px;
  }
}
@media (max-width: 845px) {
  .next-adaptiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about {
    flex-direction: column;
  }
  .about-main {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .about-next {
    flex-direction: column;
  }
  .about-next img {
    width: 100%;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .about-content img {
    display: none;
  }
  .about-main p {
    display: none;
  }
  .about-next .h {
    display: none;
  }
  .about-next-contnent {
    align-items: center;
  }
  .about-next-contnent button {
    width: 200px;
    height: 30px;
  }

  .build {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart button {
    width: 200px;
    height: 40px;
  }
}
@media (max-width: 1132px) {
  .box .cart:nth-child(4) {
    display: none;
      }
      .services-content{
        padding: 80px;
      }
}
@media (max-width: 943px) {
  .box .cart:nth-child(3) {
    display: none;
  }
}
@media (max-width: 549px) {
  .box .cart:nth-child(2) {
    display: none;
  }
  .box .cart:nth-child(1) {
    display: none;
  }
  .box {
    display: none;
  }
  .box-play {
    display: block;
  }
  .box-content {
    justify-content: center;
  }
  .services-logo {
    display: flex;
    justify-content: center;
  }
  .services-logo img:nth-child(2) {
    display: none;
  }
  .services-logo img:nth-child(1) {
    display: none;
  }
  .services-logo ion-icon {
    display: block;
  }
}
@media (max-width: 738px) {
  .services-logo img:nth-child(3) {
    display: none;
  }
 
}
@media (max-width: 475px) {
  .services-content{
    padding: 30px;
  }
}
