* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
h1 span {
  font-size:clamp(1.375rem, 0.875rem + 2.5vw, 2.875rem);
  background: rgb(129, 119, 175);
  background: linear-gradient(
    90deg,
    rgba(129, 119, 175, 1) 39%,
    rgba(171, 162, 213, 1) 58%
  );
  color: transparent;
  background-clip: text;
}
body {
  background-color: #302c42;
}
.burger-menu {
  display: none;
}
#header {
  padding: 28px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-img {
  display: flex;
}
.nav {
  display: flex;
  gap: 25px;
}
.nav a {
  font-weight: 700;
  font-size: clamp(0.5rem, 0.417rem + 0.42vw, 0.75rem);
}
.header-btn {
  display: flex;
  gap: 20px;
}
.header-btn button:nth-child(1) {
  padding: 10px 29px;
  border-radius: 30px;
  font-size: clamp(0.5rem, 0.417rem + 0.42vw, 0.75rem);
  font-weight: 700;
  color: #fff;
  background-color: #302c42;
  border: 2px solid #ffffff;
}
.header-btn button:nth-child(2) {
  font-size: clamp(0.5rem, 0.417rem + 0.42vw, 0.75rem);
  font-weight: 700;
  padding: 10px 29px;
  border-radius: 30px;
  color: #343045;
  background: rgb(141, 131, 186);
  background: linear-gradient(
    90deg,
    rgba(141, 131, 186, 1) 41%,
    rgba(171, 161, 213, 1) 61%
  );
}

/*? main */

.main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-block: 50px;
  gap: 12px;
}
.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 30px;
}
.main-content h1 {
  font-size:clamp(1.375rem, 0.875rem + 2.5vw, 2.875rem);
}
.main-content p {
  max-width: 450px;
  font-size: clamp(0.875rem, 0.833rem + 0.21vw, 1rem);
}
.main button {
  border: none;
  font-size: clamp(0.5rem, 0.417rem + 0.42vw, 0.75rem);
  font-weight: 700;
  padding: 10px 29px;
  border-radius: 30px;
  color: #343045;
  background: rgb(141, 131, 186);
  background: linear-gradient(
    90deg,
    rgba(141, 131, 186, 1) 41%,
    rgba(171, 161, 213, 1) 61%
  );
}
.main-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
ion-icon {
  font-size: 50px;
  color: #c0b7e8;
}
.main img {
  max-width: 800px;
}
.all {
  width: 100%;
  padding-bottom: 50px;
}
.main-contact {
  width: 100%;
  padding: 15px;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #363052;
}
.contact-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-contact span {
  color: rgba(255, 255, 255, 0.284);
  font-size: 90px;
  font-weight: 100;
}
.next-adaptiv {
  display: none;
  justify-content: space-between;
  padding: 10px;
  border-radius: 100px;
  background-color: #363052;
}
.next-adaptiv p{
  font-size: clamp(0.75rem, 0.708rem + 0.21vw, 0.875rem);
  font-weight: 400;
}
.next-adaptiv img{
  max-width: 25px;
   }
   .next-adaptiv ion-icon{
    font-size: 35px;
    color: white;
   }
